{% if entry.firstauthor == "true" %}
    <div class="publication-box first-author-box">
{% else %}
    <div class="publication-box">
{% endif %}

    <!-- Render the publication entry -->
    <div class="text-justify">{{ reference }}</div>

    <!-- PDF Button -->
    {% assign bibtest = false %}
    {% if entry.file %}
        {% assign bibfile = "/papers/" | append: entry.file %}
        {% for file in site.static_files %}
            {% if file.path contains bibfile %}
                {% assign bibtest = true %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if bibtest %}
        <a href="{{ site.url }}{{ site.baseurl }}/papers/{{ entry.file }}" target="_blank">
            <button class="btn btn-success btn-sm">PDF</button>
        </a>
    {% endif %}

    <!-- DOI Button -->
    {% if entry.doi %}
        {% if entry.type == 'unpublished' %}
            <a href="{{ entry.doi | prepend: 'https://arxiv.org/abs/' }}" target="_blank">
                <button class="btn btn-primary btn-sm">ARXIV</button>
            </a>
        {% else %}
            <a href="{{ entry.doi | prepend: 'http://doi.org/' }}" target="_blank">
                <button class="btn btn-primary btn-sm">DOI</button>
            </a>
        {% endif %}
    {% endif %}

    <!-- BibTeX Button -->
    {% if entry.type == 'unpublished' or entry.type == 'article' or entry.type == 'thesis' or entry.type == 'inproceedings' or entry.type == 'report' %}
        <button class="btn btn-danger btn-sm" onclick="toggleBibtex{{ entry.key }}()">BIB</button>
    {% endif %}

    <!-- Abstract Button -->
    {% if entry.abstract %}
        <button class="btn btn-warning btn-sm" onclick="toggleAbstract{{ entry.key }}()">ABSTRACT</button>
    {% endif %}

    <!-- BibTeX and Abstract -->
    {% if entry.abstract %}
    <div id="a{{ entry.key }}" class="bibtex-container" style="display: none;">
        <pre>{{ entry.bibtex | remove: "entry.abstract" }}</pre>
    </div>
    {% else %}
        <div id="a{{ entry.key }}" class="bibtex-container" style="display: none;">
            <pre>{{ entry.bibtex }}</pre>
        </div>
    {% endif %}

    <div id="b{{ entry.key }}" class="abstract-container" style="display: none;">
        <pre>{{ entry.abstract }}</pre>
    </div>


    <script>
    function toggleBibtex{{ entry.key }}(parameter) {
        var x = document.getElementById('a{{ entry.key }}');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
    function toggleAbstract{{ entry.key }}(parameter) {
        var x = document.getElementById('b{{ entry.key }}');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
    </script>

</div> <!-- End of publication-box -->
